<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd" >

  <context:annotation-config />

  <!-- Auto Wiring by Type : Spring container search for types  to inject automatically the dependencies -->
    <bean  class="org.example.controller.InvoiceControllerWeb">
    </bean>

    <bean   class="org.example.service.InvoiceServicePrefix">
      <property name="lastNumber" value="112" />
      <property name="prefix" value="INV_" />
    </bean>
    <bean  id="invoiceRepository" class="org.example.repository.InvoiceRepositoryDatabase"> </bean>



<!-- Auto Wiring by name : Spring container search for names to inject automatically the dependencies -->
<!--  <bean  class="org.example.controller.InvoiceControllerWeb">-->
<!--  </bean>-->

<!--  <bean id="invoiceService"  class="org.example.service.InvoiceServicePrefix">-->
<!--    <property name="lastNumber" value="112" />-->
<!--    <property name="prefix" value="INV_" />-->
<!--  </bean>-->
  <!--  <bean  id="invoiceRepository" class="org.example.repository.InvoiceRepositoryDatabase"> </bean>-->



<!--  <bean  class="org.example.controller.InvoiceControllerWeb">-->
<!--    <property name="invoiceService" ref="invoiceService" />-->
<!--  </bean>-->

<!--  <bean id="invoiceService"  class="org.example.service.InvoiceServicePrefix">-->
<!--    <property name="invoiceRepository" ref="invoiceRepository" />-->
<!--    <property name="lastNumber" value="112" />-->
<!--    <property name="prefix" value="INV_" />-->
<!--  </bean>-->
<!--  <bean  id="invoiceRepository" class="org.example.repository.InvoiceRepositoryDatabase"> </bean>-->

    

</beans>